<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@wylogowanie</p>
        <p class="top-page-text-details-text">jeżeli napewno się chcesz wylogować z serwisu naciśnij przycisk
            poniżej</p>
    </div>
    <form method="post" th:action="@{/logout}">
        <div class="form-group">
            <label class="text" for="logout" hidden="hidden" readonly="readonly">WYLOGUJ</label>
            <button id="logout" class="btn btn-outline-dark btn-block btn-lg" type="submit">TAK CHCĘ SIĘ WYLOGOWAĆ
            </button>
        </div>
    </form>

    <div th:replace="fragments/footer">FOOTER</div>
</div>

</body>
</html>