<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@status</p>
        <p class="top-page-text-details-text">nie masz uprawnień do wyświetlenia tej strony</p>
    </div>

    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>