<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <h5 class="top-page-text">DODAJ NOWY ADRES DOSTAWY</h5>

    <form method="post" th:action="@{/deliveryAddress/add}" th:object="${address}" enctype="multipart/form-data">
        <div class="form-group">
            <label class="text-secondary" for="street">ADRES DOSTAWY</label>
            <input id="street" type="text" class="form-control" th:field="*{street}"/>
            <p id="streetFeedback"></p>
        </div>
        <!--<p class="text text-danger" th:if="${errors.containsKey('street')}" th:text="${errors.get('street')}"></p> todo -->
        <div class="form-group">
            <label class="text-secondary" for="phone">TELEFON KONTAKTOWY</label>
            <input id="phone" type="text" class="form-control" th:field="*{phone}"/>
        </div>
        <p class="text text-danger" th:if="${errors.containsKey('phone')}" th:text="${errors.get('phone')}"></p>
        <div class="form-group">
            <button class="btn btn-outline-dark btn-block" type="submit">ZAPISZ ADRES</button>
        </div>
    </form>

    <script src="/js/deliveryAddress.js"></script>
    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>