<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">

    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>ADRES</td>
            <td>TELEFON</td>
            <td>DOSTAWA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="a:${addresses}">
        <tr>
            <td><p th:text="${a.street}"></p></td>
            <td><p th:text="${a.phone}"></p></td>
            <td><a th:href="@{/deliveryAddress/one/{id}(id=${a.id})}">USTAW JAKO ADRES DOSTAWY</a></td>
        </tr>
        </tbody>
    </table>


    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>