<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <h5 class="top-page-text">MOJE ADRESY</h5>

    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>ADRES</td>
            <td>TELEFON</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="a:${addresses}">
        <tr>
            <td><p th:text="${a.street}"></p></td>
            <td><p th:text="${a.phone}"></p></td>
            <td>
                <form method="post" th:action="@{/deliveryAddress/pick/{id}(id=${a.id})}">
                    <label>
                        <input type="hidden" readonly="readonly" name="id" th:value="${a.id}">
                    </label>
                    <button class="btn btn-outline-dark btn-small" type="submit">DOSTAWA POD TEN ADRES</button>
                </form>
            <td>
                <form method="post" action="/deliveryAddress/remove">
                    <label>
                        <input hidden="hidden" readonly="readonly" name="id" th:value="${a.id}">
                    </label>
                    <button class="btn btn-outline-dark btn-small" type="submit">KASUJ ADRES</button>
                    <!-- todo kasowanie adresów-->
                </form>
            </td>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>