<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">
    <h5 class="top-page-text">PODSUMOWANIE</h5>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@produkty</p>
        <p class="top-page-text-details-text">produkty znajdują się w koszyku</p>
    </div>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@adres</p>
        <p class="top-page-text-details-text">adres dostawy został ustawiony</p>
    </div>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@stan zamówienia</p>
        <p class="top-page-text-details-text">zamówienie jest przygotowane do realizacji</p>
    </div>
    <form method="get" th:action="@{/carts/closed}">
        <button class="btn btn-outline-dark btn-lg btn-block" type="submit">PRZEŚLIJ ZAMÓWIENIE DO
            REALIZACJI
        </button>
    </form>
</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>