<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">
    <h5 class="top-page-text">PODSUMOWANIE</h5>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@produkty</strong>
        produkty w koszyku
    </p>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@adres</strong>
        adres dostawy został ustawiony
    </p>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@stan zamówienia</strong>
        zamówienie jest przygotowane do realizacji
    </p>
    <a href="/carts/closed" class="btn btn-outline-dark btn-lg btn-block" role="button">PRZEŚLIJ ZAMÓWIENIE DO
        REALIZACJI</a>

</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>