<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <h5 class="top-page-text">WYSZUKIWARKA</h5>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@wyszukiwanie produktów</p>
        <p class="top-page-text-details-text">zostaną przeszukane wszystkie nazwy produktów, jeżeli którakolwiek zawiera
            szukany tekst to taki produkt zostanie wyświetlony</p>
    </div>

    <form method="post" th:action="@{/search/products}" th:object="${productSearch}" enctype="multipart/form-data">
        <div class="form-group">
            <label class="text-secondary" for="name">Wyszukaj w nazwach</label>
            <input id="name" type="text" class="form-control" th:field="*{userInput}">
        </div>
        <p class="text text-danger" th:if="${errors.containsKey('userInput')}" th:text="${errors.get('userInput')}"></p>
        <div class="form-group">
            <button class="btn btn-outline-dark btn-block" type="submit">WYSZUKAJ</button>
        </div>
    </form>

    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>