<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <h5 class="top-page-text">WYSZUKIWARKA</h5>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@wyszukiwanie produktów</strong>
        zostaną przeszukane wszystkie nazwy produktów, jeżeli którakolwiek zawiera szukany tekst to taki produkt
        zostanie wyświetlony produkt
    </p>

    <form method="post" th:action="@{/search/products}" th:object="${productSearch}" enctype="multipart/form-data">
        <div class="form-group">
            <label class="text-secondary" for="name">Wyszukaj w nazwach</label>
            <input id="name" type="text" class="form-control" th:field="*{userInput}">
        </div>
        <p class="text text-danger" th:if="${errors.containsKey('userInput')}" th:text="${errors.get('userInput')}"></p>
        <div class="form-group">
            <button class="btn btn-secondary btn-block" type="submit">WYSZUKAJ</button>
        </div>
    </form>

    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>