<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>STATUS</td>
            <td>NETTO</td>
            <td>BRUTTO</td>
            <td>SZCZEGÓŁY</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="c:${carts}">
        <tr>
            <td><p th:text="${c.cartClosed} ? 'ZAMKNIĘTY':'OTWARTY'"></p></td>
            <td><p th:text="${c.totalNetValue}+' PLN'"></p></td>
            <td><p th:text="${c.totalGrossValue}+' PLN'"></p></td>
            <td><p><a th:href="@{/carts/one/{id}(id=${c.id})}">PODGLĄD</a></p></td>
        </tr>
        </tbody>
    </table>


    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>