<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <h5 class="top-page-text">MOJE KOSZYKI</h5>

    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>STATUS</td>
            <td>WARTOŚĆ NETTO</td>
            <td>WARTOŚĆ BRUTTO</td>
            <td>Z DNIA</td>
            <td>AKCJA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="c:${carts}">
        <tr>
            <td><p th:text="${c.cartClosed} ? 'ZAMKNIĘTY':'OTWARTY'"></p></td>
            <td><p th:text="${c.totalNetValue}+' PLN'"></p>
            <td><p th:text="${c.totalGrossValue}+' PLN'"></p></td>
            <td><p th:text="${#temporals.format(c.purchaseTime, 'yyyy-MM-dd HH:mm:ss')}"></p></td>
            <td>
                <form method="get" th:action="@{/carts/one/{id}(id=${c.id})}">
                    <label>
                        <input hidden="hidden" readonly="readonly" name="id" th:value="${c.id}">
                    </label>
                    <button class="btn btn-outline-dark btn-small" type="submit">POKAŻ</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div th:replace="fragments/footer">FOOTER</div>

</body>
</html>