<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <h5 class="top-page-text">MÓJ KOSZYK</h5>

    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>WARTOŚĆ NETTO</td>
            <td>WARTOŚĆ BRUTTO</td>
            <td>STATUS</td>
        </tr>
        </thead>
        <tbody class="table-body-custom">
        <tr>
            <td><p th:text="${cart.totalNetValue}+' PLN'"></p></td>
            <td><p th:text="${cart.totalGrossValue}+ ' PLN'"></p></td>
            <td><p th:text="${cart.cartClosed} ? 'ZAMKNIĘTY':'OTWARTY'"></p></td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>PRODUKT</td>
            <td>ILOŚĆ</td>
            <td>CENA NETTO</td>
            <td>AKCJA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="p:${products}">
        <tr>
            <td><p th:text="${p.name}"></p></td>
            <td><p th:text="${p.quantity}"></p></td>
            <td><p th:text="${p.nettPrice}+' PLN'"></p></td>
            <td>
                <form method="post" th:action="@{/products/remove/{id}(id=${p.id})}">
                    <label>
                        <input hidden="hidden" readonly="readonly" name="product.id" th:value="${p.id}"/>
                        <input hidden="hidden" readonly="readonly" name="cart.id" th:value="${cart.id}"/>
                    </label>
                    <span th:if="${cart.cartClosed}==false">
                        <button class="btn btn-outline-dark btn-small">USUŃ</button>
                    </span>
                    <span th:if="${cart.cartClosed}==true">
                        <button class="btn btn-outline-dark btn-small" disabled>USUŃ</button>
                    </span>
                </form>
            </td>
        </tr>
        </tbody>
        <div th:if="${cart.cartClosed}!=true"> <!-- todo jak wartość koszyka zero to wyłączyć przycisk-->

            <a href="/deliveryAddress/all" class="btn btn-outline-dark btn-lg btn-block">ZAPISZ KOSZYK I USTAW MIEJSCE
                DOSTAWY</a>
        </div>
    </table>

    <!--<script src="/js/carts/one.js"></script> todo eable -->
    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>