<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">
    <h5 class="top-page-text">DODAJ FIRMĘ</h5>
    <form method="post" th:action="@{/admin/companies/add}" th:object="${company}" enctype="multipart/form-data">
        <div class="form-group"> <!-- todo validation -->
            <label class="text-secondary" for="name">NAZWA FIRMY </label>
            <input id="name" type="text" class="form-control" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label class="text-secondary" for="nip">NIP</label>
            <input id="nip" type="text" class="form-control" th:field="*{nip}"/>
        </div>
        <div class="form-group">
            <label class="text-secondary" for="street">ULICA</label>
            <input id="street" type="text" class="form-control" th:field="*{street}"/>
        </div>
        <div class="form-group">
            <label class="text-secondary" for="streetNumber">NUMER ULICY</label>
            <input id="streetNumber" type="text" class="form-control" th:field="*{streetNumber}"/>
        </div>
        <div class="form-group">
            <label class="text-secondary" for="city">MIASTO</label>
            <input id="city" type="text" class="form-control" th:field="*{city}"/>
        </div>
        <div class="form-group">
            <label class="text-secondary" for="postCode">KOD POCZTOWY</label>
            <input id="postCode" type="text" class="form-control" th:field="*{postCode}"/>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-dark btn-block" type="submit">DODAJ FIRMĘ</button>
            <button class="btn btn-outline-dark btn-block" type="reset">WYCZYŚĆ FORMULARZ</button>
        </div>
    </form>
</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>