<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">
    <h5 class="top-page-text">WSZYSTKIE FIRMY</h5>
    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>ID</td>
            <td>NAZWA</td>
            <td>STATUS</td>
            <td>AKCJA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="c:${companies}">
        <tr>

            <td><p th:text="${c.id}"></p></td>
            <td><p th:text="${c.name}"></p></td>
            <td><p th:text="${c.active} ? 'AKTYWNA':'ZABLOKOWANA'"></p></td>
            <td>
                <form method="post" th:action="@{/admin/companies/one/{id}(id=${c.id})}" enctype="multipart/form-data">
                    <label>
                        <input hidden="hidden" readonly="readonly" th:value="${c.id}">
                    </label>
                    <button class="btn btn-outline-dark btn-small" type="submit">PODGLĄD</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>