<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">
    <h5 class="top-page-text">SZCZEGÓŁY FIRMY</h5>
    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>NAZWA</td>
            <td>NIP</td>
            <td>ULICA</td>
            <td>MIASTO</td>
            <td>STATUS</td>
            <td>AKCJA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:object="${company}">
        <tr>
            <td><p th:text="${company.name}"></p></td>
            <td><p th:text="${company.nip}"></p></td>
            <td><p th:text="${company.street}+' '+${company.streetNumber}"></p></td>
            <td><p th:text="${company.city}"></p></td>
            <td><p th:text="${company.active}?'AKTYWNA':'ZABLOKOWANA'"></p></td>
            <td>
                <div class="btn-group" role="group">
                    <form method="post" th:action="@{/admin/products/all/{id}(id=${company.id})}"
                          enctype="multipart/form-data">
                        <label>
                            <input hidden="hidden" readonly="readonly" th:value="${company.id}"/>
                        </label>
                        <button class="btn btn-outline-dark btn-small" type="submit">POKAŻ PRODUKTY</button>
                    </form>
                    <form method="post" th:action="@{/admin/products/hideAll/{id}(id=${company.id})}"
                          enctype="multipart/form-data">
                        <label>
                            <input hidden="hidden" readonly="readonly" th:value="${company.id}"/>
                        </label>
                        <button class="btn btn-outline-dark btn-small" type="submit">USUŃ PRODUKTY</button>
                    </form>
                    <form method="post" th:action="@{/admin/companies/edit/{id}(id=${company.id})}"
                          enctype="multipart/form-data">
                        <label>
                            <input hidden="hidden" readonly="readonly" th:value="${company.id}"/>
                        </label>
                        <button class="btn btn-outline-dark btn-small" type="submit">EDYTUJ</button>
                    </form>
                    <form method="post" th:action="@{/admin/companies/enable/{id}(id=${company.id})}"
                          enctype="multipart/form-data">
                        <label>
                            <input hidden="hidden" readonly="readonly" th:value="${company.id}"/>
                        </label>
                        <button class="btn btn-outline-dark btn-small">ODBLOKUJ</button>
                    </form>
                    <form method="post" th:action="@{/admin/companies/disable/{id}(id=${company.id})}"
                          enctype="multipart/form-data">
                        <label>
                            <input readonly="readonly" hidden="hidden" th:value="${company.id}"/>
                        </label>
                        <button class="btn btn-outline-dark btn-small" type="submit">ZABLOKUJ</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>