<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <h1 class="masthead-heading text-uppercase mb-0">produkt dodany do koszka</h1>

            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black-50 masthead-subheading font-weight-bold mb-0"
               href="/products/all">Kupuję dalej</a>
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-black-50 masthead-subheading font-weight-bolder mb-0"
               href="/products/all">Przesyłam zamówienie do realizacji</a>

        </div>
    </header>

    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>