<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <h5 class="top-page-text">MOJE PRODUKTY</h5>

    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>NAZWA</td>
            <td>CENA</td>
            <td>AKCJA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="p:${products}">
        <tr>
            <td><p th:text="${p.name}"></p></td>
            <td>
                <span th:if="${p.grossPrice}==null" th:text="${p.nettPrice}+' PLN'"></span>
                <span th:if="${p.nettPrice}==null" th:text="${p.grossPrice} + 'PLN'"></span>
            </td>
            <td>
                <form method="get" th:action="@{/products/buy/{id}(id=${p.id})}">
                    <label>
                        <input hidden="hidden" readonly="readonly" name="id" th:value="${p.id}">
                    </label>
                    <button class="btn btn-outline-dark btn-small" type="submit">DO KOSZYKA</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>