<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">

    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>DANE</td>
            <td>SZCZEGÓŁY PRODUKTU</td>
        </tr>
        </thead>
        <tbody class="table-body-custom">
        <tr>
            <td>NAZWA</td>
            <td><p th:text="${product.name}"></td>
        </tr>
        <tr>
            <td>NUMER W KALKULACJI</td>
            <td><p th:text="${product.numberInAuction}"></p></td>
        </tr>
        <tr>
            <td>INDEKS</td>
            <td><p th:if="${product.auctionIndex}==null ? 'NIE PODANO':${product.auctionIndex}"></p></td>
        </tr>
        <tr>
            <td>OPIS</td>
            <td><p th:text="${product.description}"></p></td>
        </tr>
        <tr>
            <td>CENA NETTO</td>
            <td><p th:text="${product.nettPrice}+' PLN'"></p></td>
        </tr>
        <tr>
            <td>STAWKA VAT</td>
            <td><p th:text="${product.vat}+' %'"></p></td>
        </tr>
        <tr>
            <td>CENA BRUTTO</td>
            <td><p th:text="${product.grossPrice}+' PLN'"></p></td>
        </tr>
        </tbody>
    </table>
    <form method="post" th:action="@{/products/buy}" th:object="${product}" enctype="multipart/form-data">
        <div class="form-group">
            <label class="text-secondary" for="quantity">ILOSC</label>
            <input id="quantity" type="text" class="form-control" th:field="*{quantity}"/>
            <input id="id" type="text" class="form-control" th:field="${product.id}" hidden="hidden"
                   readonly="readonly"/>
        </div>
        <p class="text text-danger" th:if="${errors.containsKey('quantity')}" th:text="${errors.get('quantity')}"></p>
        <div class="form-group">
            <button class="btn btn-outline-dark btn-block" type="submit">DODAJ DO KOSZYKA</button>
        </div>
    </form>

    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>