<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>NAZWA</td>
            <td>CENA NETTO</td>
            <td>DODAJ DO KOSZKA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="p:${products}">
        <tr>
            <td><p th:text="${p.name}"></p></td>
            <td><p th:text="${p.nettPrice}+' PLN'"></td>
            <td><p><a th:href="@{/products/buy/{id}(id=${p.id})}">DODAJ</a></p></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="fragments/footer">FOOTER</div>
</div>

</body>
</html>