footer {
    width: 100%;
    height: calc(100% - 20px);
    padding: 20px 10px;
    margin-top: 20px;
    background-color: #111;
}

footer ul {
    display: block;
    width: fit-content;
    padding-left: 20px
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: Catamaran;
    font-size: 14px;
    color: #fff;
}