<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <h5 class="top-page-text">ŁĄCZENIE PRODUKTU Z KODEM OPTIMA</h5>

    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>NAZWA</td>
            <td>FIRMA</td>
            <td>KOD</td>
            <td>AKCJA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="p:${products}">
        <tr>
            <td><p th:text="${p.name}"></p></td>
            <td><p th:text="${p.companyDTO.name}"></td>
            <td><p th:text="${p.optimaCode}"></p>
                <form method="post" th:action="@{/admin/products/removeCode/{id}(id=${p.id})}"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label>
                            <input type="hidden" readonly="readonly" name="id" th:value="${p.id}"/>
                        </label>
                        <button class="btn btn-outline-dark btn-small" type="submit">USUŃ KOD</button>
                    </div>
                </form>
            </td> <!-- todo display string value of enum + if null display none -->
            <td>
                <form method="post" th:action="@{/admin/products/addCode/{id}(id=${p.id})}"
                      th:object="${generalUserInput}"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="text-secondary" for="optimaCode">PODAJ KOD Z OPTIMY</label>
                        <input id="optimaCode" type="text" class="form-control" th:field="*{userInput}"/>
                    </div>
                    <p class="text text-danger" th:if="${errors.containsKey('userInput')}"
                       th:text="${errors.get('userInput')}"></p>
                    <button type="submit" class="btn btn-outline-dark btn-small">ZAPISZ</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>