<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@rodo</p>
        <p class="top-page-text-details-text">informacja administratora</p>
    </div>
    <div class="text">
        <p>
            INFORMACJA ADMINISTRATORA DANYCH OSOBOWYCH
        </p>
        <p>
            Administrator i dane kontaktowe administratora.
            Administratorem danych osobowych jest Firma Handlowa PRIMA
            Adres do korespondencji: 30-740 Kraków, ul. Półłanki 31G
            Adres email: biuro@primakrakow.pl
            Kontakt z administratorem jest możliwy pisemnie na powyżej wskazany adres.
        </p>
        <p>
            Cel przetwarzania danych osobowych.
            Firma PRIMA może przetwarzać Pani/Pana dane w celu:
            zawarcia i wykonania umowy sprzedaży
            wypełnienia obowiązków wynikających z ustawy o rachunkowości
            ewentualnie w celu dochodzenia roszczeń lub w ramach obrony przed dochodzonymi roszczeniami
        </p>
        <p>
            Informacja o wymogu podania danych osobowych.
            Podanie danych osobowych jest konieczne do zawarcia i wykonania umowy sprzedaży.
        </p>
        <p>
            Okres przechowania danych
            Pani/Pana dane będą przechowywane do momentu przedawnienia roszczeń lub do momentu wygaśnięcia umowy
            sprzedaży
            lub do wygaśnięcia obowiązku przechowania wynikającego z przepisów prawa.
        </p>
        <p>
            Przekazywanie danych.
            Pani/Pana dane osobowe mogą być udostępnione podmiotom i organom Państwowym upoważnionym do przetwarzania
            tych
            danych na podstawie przepisów prawa.
        </p>
        <p>
            Pani/Pana prawa
            Przysługuje Pani/Panu prawo do dostępu do swoich danych osobowych oraz prawo ich sprostowania, ich usunięcia
            lub
            ograniczenia ich przetwarzania.
            W zakresie w jakim podstawą przetwarzania Pani/Pana danych osobowych jest zgoda, ma Pani/Pan prawo do
            wycofania
            zgody. Wycofanie zgody nie ma wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody
            przed jej wycofaniem.
            Przysługuje Pani/Panu prawo do wniesienia skargi do organu nadzorczego zajmującego się ochorną danych
            osobowych
            w Polsce (Prezesa Urzędu Ochrony Danych Osobowych).
        </p>
        <p>
            W celu skorzystania z powyższych praw należy skontaktować się z administratorem lub z Inspektorem Ochrony
            Danych, korzystając ze wskazanych wyżej danych kontaktowych lub bezpośrednio z organem nadzorczym ( w
            zakresie
            prawa do wniesienia skargi do tego organu ).
        </p>
        <p>
            Jeśli chce Pani/Pan zmienić zakres przetwarzanych przez nas danych, w tym wnieść sprzeciw lub cofnąć swoją
            zgodę, prosimy o wysłanie wiadomości na adres e-mail: biuro@primakrakow.pl
        </p>
    </div>

    <div th:replace="fragments/footer">FOOTER</div>
</div>

</body>
</html>