<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@rodo</p>
        <p class="top-page-text-details-text">informacja administratora</p>
    </div>
    <div class="text">
        <p>
            Informujemy, że administratorem Pani/Pana danych osobowych jest Firma Handlowa PRIMA z siedzibą w Krakowie,
            ul. Półłanki 31G. Pani/Pana dane osobowe będą przetwarzane w celu umożliwienia kontynuacji współpracy
            pomiędzy Firmą Handlowa PRIMA a Panem/Panią oraz w celu marketingu bezpośredniego realizowanego przez Firma
            Handlowa PRIMA. Przetwarzanie danych osobowych jest niezbędne do realizacji wskazanych wyżej celów oraz
            odpowiadających tym celom prawnie uzasadnionych interesów administratora. Podanie danych osobowych jest
            dobrowolne, jednak niezbędne do wykonywania w/w czynności. Pomimo dobrowolności, konsekwencją niepodania
            danych osobowych będzie brak możliwości wykonywania w/w czynności.
        </p>
        <p>
            Podstawą prawną przetwarzania podanych przez Panią/Pana danych osobowych są przepisy art. 6 ust. 1 lit. b i
            f ROZPORZĄDZENIA PARLAMENTU EUROPEJSKIEGO I RADY (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony
            osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych
            oraz uchylenia dyrektywy 95/46/WE, a w pozostałym zakresie – udzielona przez Państwa zgoda.
        </p>
        <p>
            Ma Pani/Pan prawo do wniesienia skargi do organu nadzorczego w zakresie ochrony danych osobowych, jeśli uzna
            Pani/Pan, że przetwarzanie danych osobowych przez Firmę Handlową PRIMA narusza przepisy o ochronie danych
            osobowych. Przetwarzane przez nas Pani/Pana dane osobowe nie będą w żadnym stopniu przekazywane do
            osób/Państw trzecich.
        </p>
        <p>
            Przysługuje Pani/Panu prawo dostępu do treści swoich danych osobowych oraz prawo do ich sprostowania,
            usunięcia lub ograniczenia przetwarzania, prawo do przenoszenia danych oraz prawo do wniesienia sprzeciwu
            wobec ich przetwarzania w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano
            na podstawie zgody przed jej cofnięciem. W zakresie, w jakim wykorzystanie podanych przez Panią/Pana
            informacji opiera się na udzielonej przez Panią/Pana zgodzie, ma Pani/Pan prawo do cofnięcia zgody w
            dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed
            jej cofnięciem.
        </p>
        <p>
            Jeśli chce Pani/Pan zmienić zakres przetwarzanych przez nas danych, w tym wnieść sprzeciw lub cofnąć swoją
            zgodę, prosimy o wysłanie wiadomości na adres e-mail: biuro@primakrakow.pl
        </p>
    </div>

    <div th:replace="/fragments/footer">FOOTER</div>
</div>

</body>
</html>