<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">
    <h5 class="top-page-text">DODAWANIE DO BAZY DANYCH</h5>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@użytkownicy</strong>
        uzytkownik został poprawnie dodany do bazy danych
    </p>
</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>