<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">
    <h5 class="top-page-text">WSZYSCY UŻYTKOWNICY</h5>
    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>IMIĘ</td>
            <td>NAZWISKO</td>
            <td>STATUS</td>
            <td>AKCJA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:each="u:${users}">
        <tr>
            <td><p th:text="${u.name}"></p></td>
            <td><p th:text="${u.surname}"></p></td>
            <td><p th:text="${u.enabled} ? 'AKTYWNY':'ZABLOKOWANY'"></p></td>
            <td>
                <form method="post" th:action="@{/admin/users/one/{id}(id=${u.id})}" enctype="multipart/form-data">
                    <label>
                        <input type="hidden" readonly="readonly" name="id" th:value="${u.id}"/>
                    </label>
                    <button class="btn btn-outline-dark btn-small" type="submit">PODGLĄD</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>