<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">
    <h5 class="top-page-text">EDYTUJ UŻYTKOWNIKA</h5>
    <form method="post" th:action="@{/admin/users/edit}" th:object="${user}" enctype="multipart/form-data">
        <div class="form-group">
            <label>
                <input type="text" th:field="*{id}" hidden="hidden" readonly="readonly"/>
            </label>
        </div>
        <div class="form-group">
            <label class="text" for="name">IMIĘ</label>
            <input id="name" type="text" class="form-control" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label class="text" for="surname">NAZWISKO</label>
            <input id="surname" type="text" class="form-control" th:field="*{surname}"/>
        </div>
        <div class="form-group">
            <label class="text" for="email">EMAIL</label>
            <input id="email" type="email" class="form-control" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <label class="text" for="password">HASŁO</label>
            <input id="password" type="password" class="form-control" th:field="*{password}"/>
        </div>
        <div class="form-group">
            <label class="text" for="passwordConfirmation">POWTÓRZ HASŁO</label>
            <input id="passwordConfirmation" type="password" class="form-control" th:field="*{passwordConfirmation}"/>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-dark btn-lg btn-block" type="submit">ZAPISZ ZMIANY</button>
            <button class="btn btn-outline-dark btn-lg btn-block" type="reset">WYCZYŚĆ FORMULARZ</button>
        </div>
    </form>
</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>