<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">
    <h5 class="top-page-text">SZCZEGÓŁY UŻYTKOWNIKA</h5>
    <table class="table">
        <thead class="table-head-custom">
        <tr>
            <td>LOGIN</td>
            <td>IMIĘ</td>
            <td>NAZWISKO</td>
            <td>EMAIL</td>
            <td>FIRMA</td>
            <td>STATUS</td>
            <td>AKCJA</td>
        </tr>
        </thead>
        <tbody class="table-body-custom" th:object="${user}">
        <tr>
            <td><p th:text="${user.login}"></p></td>
            <td><p th:text="${user.name}"></p></td>
            <td><p th:text="${user.surname}"></p></td>
            <td><p th:text="${user.email}"></p></td>
            <td><p th:text="${user.companyDTO.name}"></p></td>
            <td><p th:text="${user.enabled} ? 'AKTYWNY':'ZABLOKOWANY'"></p></td>
            <td>
                <div class="btn-group" role="group">
                    <form method="post" th:action="@{/admin/users/edit/{id}(id=${user.id})}"
                          enctype="multipart/form-data">
                        <label>
                            <input hidden="hidden" readonly="readonly" th:value="${user.id}">
                        </label>
                        <button class="btn btn-outline-dark btn-small" type="submit">EDYTUJ</button>
                    </form>
                    <form method="post" th:action="@{/admin/users/enable/{id}(id=${user.id})}"
                          enctype="multipart/form-data">
                        <label>
                            <input readonly="readonly" hidden="hidden" th:value="${user.id}">
                        </label>
                        <button class="btn btn-outline-dark btn-small" type="submit">ODBLOKUJ</button>
                    </form>
                    <form method="post" th:action="@{/admin/users/disable/{id}(id=${user.id})}"
                          enctype="multipart/form-data">
                        <label>
                            <input hidden="hidden" readonly="readonly" th:value="${user.id}">
                        </label>
                        <button class="btn btn-outline-dark btn-small" type="submit">ZABLOKUJ</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>