<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container top-menu">
        <a class="navbar-brand" href="/">START</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/products/all">Moje produkty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carts/all">Moje koszyki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deliveryAddress/all">Moje adresy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deliveryAddress/add">Dodaj adres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search/products">Wyszukaj produkt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ZALOGUJ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">WYLOGUJ</a>
                </li>
            </ul>
            <a class="btn btn-success btn-sm ml-3" href="/carts/one">
                <i class="fa fa-shopping-cart"></i>Mój koszyk<span class="badge badge-light"></span>
            </a>
        </div>
    </div>
</nav>