<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="container top-menu">
        <a class="navbar-brand" href="/">START</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/products/all">Moje produkty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carts/all">Moje koszyki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deliveryAddress/all">Moje adresy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deliveryAddress/add">Dodaj adres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search/products">Wyszukaj produkt</a>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/security/login">ZALOGUJ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/security/logout">WYLOGUJ</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPER')">
                        <a class="nav-link" href="/admin/panel">ADMIN</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="hasRole('ROLE_SUPER')">
                        <a class="nav-link" href="#">SUPER</a>
                    </div>
                </li>
            </ul>
            <a class="btn btn-success btn-sm ml-3" href="/carts/one">
                <i class="fa fa-shopping-cart"></i>Mój koszyk<span class="badge badge-light"></span>
            </a>
        </div>
    </div>
</nav>