<nav class="navbar align-content-center col-12">
    <section class="jumbotron col-12">
        <div class="container">
            <!--<h1 class="jumbotron-heading"> todo wzór nagłówka</h1>-->
            <p class="lead">PLATFORMA ZAKUPOWA</p>
            <p class="lead text-muted 0">Stworzona dla Państwa wygody!</p>
        </div>
    </section>
    <section class="jumbotron col-12">
        <div class="container">
            <p class="lead text-muted">OPIS FUNKCJONALNOŚĆI ...</p> <!--todo dopisać !!!-->
        </div>
    </section>
</nav>