.top-page-text {
    margin: 3rem;
    border-bottom-color: gray;
    border-bottom-style: groove;
}

.top-page-text-details {
    padding: 1rem;
    background: white;
    box-shadow: whitesmoke;
    font-size: small;
    border-bottom: 1px dotted;
    border-bottom-color: grey;
    opacity: 0.5;
}