.table {
    counter-reset: serial-number;
}

.table-counter td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}

.table-head-custom {
    color: white;
    text-align: center;
    font-weight: 300;
    background-color: slategrey;
}

.table-body-custom {
    text-align: center;
    font-weight: 200;
}

table tbody tr:hover {
    background-color: whitesmoke;
}