.table {
    counter-reset: serial-number;
    margin-top: 5rem;
}

.table-counter td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}

.table-head-custom {
    color: white;
    text-align: center;
    font-weight: 400;
    background-color: #2c3e50;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    list-style: none;
    background-clip: padding-box;
    border: .125rem solid rgba(0, 0, 0, .15);
    border-radius: .5rem
}

.table-body-custom {
    text-align: center;
    font-weight: 200;
}

table tbody tr:hover {
    background-color: whitesmoke;
}