<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>

<div class="container">
    <div class="jumbotron-custom">

        <p>WITAMY NA PLATFORMIE</p>
        <p>PROSZĘ SIĘ ZALOGOWAĆ</p>

    </div>
</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>