<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<section class="container">
    <h5 class="top-page-text">WAŻNE INFORMACJE</h5>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@produkty</strong>
        produkty są widoczne tylko dla zalogowanych użytkowników
    </p>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@logowanie</strong>
        platforma jest dostępna tylko dla klientów przetargowych, którzy mają podpisaną z nami umowę
    </p>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@rejestracja</strong>
        nie ma możliwości samodzielnej rejestracji,
        w celu rejestracji prosimy o kontakt
    </p>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@pomoc techniczna</strong>
        filmy oraz szczegółowa instrukcja obsługi w przygotowaniu
    </p>
    <p class="top-page-text-details">
        <strong class="d-block text-gray-dark">@kontakt</strong>
        (12) 411 25 09, (12) 411 67 54, biuro@primakrakow.pl
    </p>

</section>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>