<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<section class="container">
    <h5 class="top-page-text">O PLATFORMIE</h5>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@produkty</p>
        <p class="top-page-text-details-text">produkty są widoczne tylko dla zalogowanych użytkowników</p>
    </div>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@logowanie</p>
        <p class="top-page-text-details-text">platforma jest dostępna tylko dla klientów przetargowych, którzy mają
            podpisaną z nami umowę</p>
    </div>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@rejestracja</p>
        <p class="top-page-text-details-text">obecnie nie ma możliwości samodzielnej rejestracji,
            w celu rejestracji prosimy o kontakt</p>
    </div>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@pomoc techniczna</p>
        <p class="top-page-text-details-text">filmy oraz szczegółowa instrukcja obsługi w przygotowaniu</p>
    </div>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@kontakt</p>
        <p class="top-page-text-details-text">(12) 411 25 09, (12) 411 67 54, biuro@primakrakow.pl</p>
    </div>
    <div class="top-page-text-details">
        <p class="top-page-text-details-at">@WAŻNE !!!</p>
        <p class="top-page-text-details-text">masz pomysł, sugestię co poprawić na platformie,
            potrzebujesz nowej funkcjonalności - napisz do nas</p> <!-- todo contact form -->
    </div>
</section>

<div th:replace="/fragments/footer">FOOTER</div>
<script src="./js/index.js"></script>
</body>
</html>