<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Platform</title>
</head>
<body>
<div th:replace="fragments/stylesheet">STYLESHEET</div>
<div th:replace="fragments/top">TOP MENU</div>
<div th:replace="fragments/topbanner">TOP BANNER</div>

<div class="container">

    <h5 class="top-page-text">PANEL SUPER ADMINISTRATORA</h5>
    <a href="/super/admins/add" class="btn btn-outline-dark btn-lg btn-block" role="button">DODAJ ADMINISTRATORA</a>
</div>

<div th:replace="/fragments/footer">FOOTER</div>
</body>
</html>